<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />

<html>
<body class="container">

<div class="hero-unit">
  <h3>
    Reaction Visualizer
  </h3>
  <p>Port 27330 has BRENDA reactions. Port 27331 has Journal reactions.</p>
  <p>Instructions: To view a reaction go to /rxn/(rxn_id).</p>
</div>

{% if reaction %}
<div class="well">
  <h4>Overview</h4>
  <tr>
    <td><img src="{{ rxn_img }}"></td>
  </tr>  
  <br><br>
  <table class="table table-condensed table-hover table-bordered">
  <tr>
    <td>ID</td>
    <td>{{ reaction['_id']  }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ reaction['easy_desc']  }}</td>
  </tr>
  <tr>
    <td>EC Number</td>
    <td>{{ reaction['ecnum']  }}</td>
  </tr>
  <tr>
    <td>References</td>
    <td>{{ reaction['references']|join(', ')  }}</td>
  </tr>
  <tr>
    <td>Organisms</td>
    <td>{{ reaction['organisms']|join(', ')  }}</td>
  </tr>
  <tr>
    <td>Categories</td>
    <td>
      {{ reaction_categories[reaction['_id']]|join(', ') }}
    </td>
  </tr>
  </table>
</div>

<div class="well">
  <h4>Literature Sources</h4>
  {% for res in reaction['metadata'] %}
  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <td>SID</td>
      <td>{{ res['sid']  }}</td>
    </tr>
    <tr>
      <td>Sentence</td>
      <td>{{ res['sentence']|safe  }}</td>
    </tr>
    <tr>
      <td>Pattern</td>
      <td>{{ res['pattern']  }}</td>
    </tr>
  </table>
  {% endfor %}
</div>  

<div class="well">
  <h4>Substrates</h4>
  {% for chemical in substrates %}
  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <td>ID</td>
      <td>{{ chemical['_id']  }}</td>
    </tr>
    <tr>
      <td>Canonical</td>
      <td>{{ chemical['canonical']  }}</td>
    </tr>
    <tr>
      <td>SMILES</td>
      <td>{{ chemical['SMILES']  }}</td>
    </tr>
    <tr>
      <td>InChI</td>
      <td>{{ chemical['InChI']  }}</td>
    </tr>
    <tr>
      <td>Names</td>
      <td><font size="1"> {{ chemical['names']['synonyms']|join(', ')  }}</font></td>
    </tr>
    <tr>
      <td>Structure</td>
      <td><img src="{{ chemical['img']  }}"></td>
    </tr>
  </table>
  
  {% endfor %}
</div>

<div class="well">
<h4>Products</h4>
  {% for chemical in products %}
  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <td>ID</td>
      <td>{{ chemical['_id']  }}</td>
    </tr>
    <tr>
      <td>Canonical</td>
      <td>{{ chemical['canonical']  }}</td>
    </tr>
    <tr>
      <td>SMILES</td>
      <td>{{ chemical['SMILES']  }}</td>
    </tr>
    <tr>
      <td>InChI</td>
      <td>{{ chemical['InChI']  }}</td>
    </tr>
    <tr>
      <td>Names</td>
      <td><font size="1">{{ chemical['names']['synonyms']|join(', ')  }}</font></td>
    </tr>
    <tr>
      <td>Structure</td>
      <td><img src="{{ chemical['img']  }}"></td>
    </tr>
  </table>
  
  {% endfor %}
</div>

<div class="well">
  <h4>Results from Inferring ERO</h4>
  {% if filter_infer %}
    {% for res in filter_infer %}
    <table class="table table-condensed table-hover table-bordered">
      {% for k, v in res.iteritems() %}
        <tr>
          <td>{{ k }}</td>
          <td>
            {% if k == 'EROIMG' %}
              <img src="{{ v }}">
            {% else %}
              {{ v }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endfor %}
  {% else %}
    None
  {% endif %}
</div>

<div class="well">
<h4>Results from Applying ERO</h4>
  {% if filter_apply %}
    {% for res in filter_apply %}
      <table class="table table-condensed table-hover table-bordered">
        <tr>
          <td>Input</td>
          <td>
            <img src="{{ res['input_img'] }}">
          </td>
        </tr>
        <tr>
          <td>Input SMILES</td>
          <td>
            {{ res['input'] }}
          </td>
        </tr>
        <tr>
          <td>ERO</td>
          <td>
            <img src="{{ res['ero_img'] }}">
          </td>
        </tr>
        <tr>
          <td>ERO ID</td>
          <td>
            {{ res['ero_id'] }}
          </td>
        </tr>
        <tr>
          <td>Result</td>
          <td>
            <img src="{{ res['result_img'] }}">
          </td>
        </tr>
        <tr>
          <td>Result SMILES</td>
          <td>
            {{ res['result'] }}
          </td>
        </tr>
      </table>
    {% endfor %}
  {% else %}
    None
  {% endif %}
</div>

{% else %}

<div class="well">
  <h4>Report Reactions</h4>
  <table class="table table-condensed table-hover table-bordered">
  {% for rep in report_reactions %}
    <tr>
      <td>{{ rep[0] }}</td>
      <td>{{ rep[1]|join(', ') }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

{% endif %}

</body>
</html>
