<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />

<html>
<body class="container">

<div class="hero-unit">
  <h3>
    Reaction Visualizer
  </h3>
  <p>
    Instructions: To view a reaction go to /rxn/(rxn_id).
  </p>
</div>

{% if reaction %}
<div class="well">
  <h4>Overview</h4>
  <table class="table table-condensed table-hover table-bordered">
  <tr>
    <td>ID</td>
    <td>{{ reaction['_id']  }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ reaction['easy_desc']  }}</td>
  </tr>
  <tr>
    <td>Ecnum</td>
    <td>{{ reaction['ecnum']  }}</td>
  </tr>
  <tr>
    <td>References</td>
    <td>{{ reaction['references']|join(', ')  }}</td>
  </tr>
  <tr>
    <td>Organisms</td>
    <td>{{ reaction['organisms']|join(', ')  }}</td>
  </tr>
  <tr>
    <td>Metadata</td>
    <td>
      {% for res in reaction['metadata'] %}
      <table border="0">
        {% for k, v in res.iteritems() %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Categories</td>
    <td>
      {{ reaction_categories[reaction['_id']]|join(', ') }}
    </td>
  </tr>
  </table>
  <tr>
    <td><img src="{{ rxn_img }}"></td>
  </tr>  
</div>

<div class="well">
  <h4>Substrates</h4>
  {% for chemical in substrates %}
  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <td>ID</td>
      <td>{{ chemical['_id']  }}</td>
    </tr>
    <tr>
      <td>canonical</td>
      <td>{{ chemical['canonical']  }}</td>
    </tr>
    <tr>
      <td>smiles</td>
      <td>{{ chemical['SMILES']  }}</td>
    </tr>
    <tr>
      <td>inchi</td>
      <td>{{ chemical['InChI']  }}</td>
    </tr>
    <tr>
      <td>names</td>
      <td>{{ chemical['names']['synonyms']|join(', ')  }}</td>
    </tr>
  </table>
  
  {% endfor %}
</div>

<div class="well">
<h4>Products</h4>
  {% for chemical in products %}
  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <td>ID</td>
      <td>{{ chemical['_id']  }}</td>
    </tr>
    <tr>
      <td>canonical</td>
      <td>{{ chemical['canonical']  }}</td>
    </tr>
    <tr>
      <td>smiles</td>
      <td>{{ chemical['SMILES']  }}</td>
    </tr>
    <tr>
      <td>inchi</td>
      <td>{{ chemical['InChI']  }}</td>
    </tr>
    <tr>
      <td>names</td>
      <td>{{ chemical['names']['synonyms']|join(', ')  }}</td>
    </tr>
  </table>
  
  {% endfor %}
</div>

<div class="well">
  <h4>Results from Inferring ERO</h4>
  {% if filter_infer %}
    {% for res in filter_infer %}
    <table class="table table-condensed table-hover table-bordered">
      {% for k, v in res.iteritems() %}
        <tr>
          <td>{{ k }}</td>
          <td>
            {% if k == 'EROIMG' %}
              <img src="{{ v }}">
            {% else %}
              {{ v }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endfor %}
  {% else %}
    None
  {% endif %}
</div>

<div class="well">
<h4>Results from Applying ERO</h4>
  {% if filter_apply %}
    <table class="table table-condensed table-hover table-bordered">
      <tr>
        <td>Input</td>
        <td>
          <table border="0">
            <tr><td><img src="{{ filter_apply['inputimg'] }}"></td></tr>
            <tr><td>{{ filter_apply['input'] }}</td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>ERO</td>
        <td>
          <table border="0">
            <tr><td><img src="{{ filter_apply['eroimg'] }}"></td></tr>
            <tr><td>{{ filter_apply['ero'] }}</td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Result</td>
        {% for res in filter_apply['result'] %}
          <td>
            <table border="0">
              <tr><td><img src="{{ res[1] }}"></td></tr>
              <tr><td>{{ res[0] }}</td></tr>
            </table>
          </td>
        {% endfor %}
      </tr>
    </table>
  {% else %}
    None
  {% endif %}
</div>

{% else %}

<div class="well">
  <h4>Report Reactions</h4>
  <table class="table table-condensed table-hover table-bordered">
  {% for rep in report_reactions %}
    <tr>
      <td>{{ rep[0] }}</td>
      <td>{{ rep[1]|join(', ') }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

{% endif %}

</body>
</html>
