<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
<script type=text/javascript src="{{
  url_for('static', filename='jquery-2.0.3.min.js') }}"></script>
<script type=text/javascript>
  $(function() {
    $('.checkoptions').bind('click', function() {
      $.ajax({
          url: {{ request.script_root|tojson|safe }} + '/_getrxnids',
          data: { checked: JSON.stringify($('.checkoptions').filter(function (idx, a) {return a.checked} ).map(function (idx, b) {return b.value}).get()) },
          traditional: true,
          success: function(data) {
            $("#results").html(data)
          }
      });
    });
  });
</script>

<html>
<body class="container">

<div class="hero-unit">
  <h3>
    Reaction Selector
  </h3>
</div>


<div class="well">
  <h4>Categories</h4>
  {% for category in categories %}
    {% if category[0] != '^' %}
      <label class="checkbox">
        <input class="checkoptions" type="checkbox" value="{{ category }}">
        {{ category }}
      </label>
    {% endif %}
  {% endfor %}
</div>

<div id="results"></div>

</body>
</html>