<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
<script type=text/javascript src="{{
  url_for('static', filename='jquery-2.0.3.min.js') }}"></script>
<script type=text/javascript>
  $(function() {
    $('.checkoptions').bind('click', function() {
      $.ajax({
          url: {{ request.script_root|tojson|safe }} + '/_getrxnids',
          data: { checked: JSON.stringify($('.checkoptions').filter(function (idx, a) {return a.checked} ).map(function (idx, b) {return b.value}).get()) },
          traditional: true,
          success: function(data) {
            $("#included_union").text(data.included_union);
            $("#excluded_union").text(data.excluded_union);
            $("#excluded_union_length").text(data.excluded_union.length);
            $("#included_union_length").text(data.included_union.length);
            $("#included_intersect").text(data.included_intersect);
            $("#excluded_intersect").text(data.excluded_intersect);
            $("#excluded_intersect_length").text(data.excluded_intersect.length);
            $("#included_intersect_length").text(data.included_intersect.length);
          }
      });
    });
  });
</script>

<html>
<body class="container">

<div class="hero-unit">
  <h3>
    Reaction Selector
  </h3>
</div>

<div class="well">
  {% for category in categories %}
    <label class="checkbox">
      <input class="checkoptions" type="checkbox" value="{{ category }}">
      {{ category }}
    </label>
  {% endfor %}
</div>

<div class="well">
  <h4>Included Union</h4>
  <p id="included_union_length"></p>
  <p id="included_union"></p>
</div>

<div class="well">
  <h4>Excluded Union</h4>
  <p id="excluded_union_length"></p>
  <p id="excluded_union"></p>
</div>

<div class="well">
  <h4>Included Intersect</h4>
  <p id="included_intersect_length"></p>
  <p id="included_intersect"></p>
</div>

<div class="well">
  <h4>Excluded Intersect</h4>
  <p id="excluded_intersect_length"></p>
  <p id="excluded_intersect"></p>
</div>

</body>
</html>